

body {
    font-family: 'roboto', sans-serif;
    margin: 0;
}



header {
    display: flex;
    justify-content: center;
    .header__logo {
      width: 200px;
    }
}

.authentification {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
    align-items: center;
    box-shadow: -1px 6px 18px 8px #d4d4d4;
    border-radius: 20px;
    padding-bottom: 30px;
}

nav {
    ul {
        list-style: none;
        display: flex;
        padding: 0;
    }
    li {
        padding: 0 25px 2px 0;
        font-size: 22px;
        position: relative;
    }
    li::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 85%;
        height: 2px;
        background-color:#ffd7d7;
    }

        
    
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    input {
        margin: 10px;
        height: 30px;
    }
    button {
        border-radius: 20px;
        height: 50px;
        border: none;
        font-weight: bold;
        font-size: 16px;
        box-shadow: 5px 5px 10px #d4d4d4;
    }
}
